<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- netstandard -->
  <package id="AWSSDK.Core" version="3.3.100.3" targetFramework="netstandard2.0" />
  <package id="AWSSDK.S3" version="3.3.101.1" targetFramework="netstandard2.0" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="netstandard2.0" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="netstandard2.0" />
  <!-- net45 -->
  <package id="AWSSDK.Core" version="3.3.100.3" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.101.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
</packages>
